* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#todo h1 {
  background-color: aquamarine;
  text-align: center;
}

#todo ul {
  list-style-type: none;
}

#todo ul li {
  padding: 10px 10px;
}

.barrato {
  text-decoration: line-through;
}
